# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml

# Android
**/android/.gradle/
**/android/local.properties
**/android/.idea/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
